@font-face {
  font-family: "Faible-Bold";
  src: local("Faible-Bold"),
    url(../../assets/fonts/Faible/Faible-Bold.woff) format("woff");
}

.navigation {
  padding-top: 2em;
  font-family: "Faible-Bold";

  .navigation__bar {
    .navigation__bar--hide-mobile {
      display: inline-block;
      ul {
        display: flex;
        justify-content: space-around;
        list-style: none;

        li {
          margin-right: 3.375em;
          font-size: 17px;
          color: #004e4c;
        }
      }
    }

    .navigation__bar--show-mobile {
      color: #FFF8EF;
      width: 141px;
      height: 49px;
      background: #FAA834;
      border-radius: 8px;
    }
  }
}

@media (max-width: 768px) {
  .navigation__bar {
    .navigation__bar--hide-mobile {
      display: none;
    }
  }
}
